<!-- src/app/nested-form-group-child/nested-form-group-child.component.html -->

<form [formGroup]="profileFormGroup">
  <h2>Basic Information</h2>
  <div>
    <label for="name">Name*</label>
    <input
      type="name"
      formControlName="name"
      id="name"
      required
      [ngClass]="{
        'is-invalid': nameFC?.invalid && (nameFC?.touched || nameFC?.dirty)
      }"
    />
    <div class="invalid-feedback">Name is required</div>
  </div>
  <div>
    <label for="email">Email*</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      [ngClass]="{
        'is-invalid': emailFC?.invalid && (emailFC?.touched || emailFC?.dirty)
      }"
    />
    <div class="invalid-feedback">Please enter valid email</div>
  </div>
  <app-address-form [formGroup]="addressFormGroup"></app-address-form>
  <button type="submit" [disabled]="profileFormGroup.invalid">
    Submit form
  </button>
</form>
