<!-- src/app/nested-from-group/nested-form-group.component.html -->

<form [formGroup]="profileFormGroup">
  <h2>Basic Information</h2>
  <div>
    <label for="name">Name*</label>
    <input
      type="name"
      formControlName="name"
      id="name"
      required
      [ngClass]="{
        'is-invalid': nameFC?.invalid && (nameFC?.touched || nameFC?.dirty)
      }"
    />
    <div class="invalid-feedback">Name is required</div>
  </div>
  <div>
    <label for="email">Email*</label>
    <input
      type="email"
      formControlName="email"
      id="email"
      [ngClass]="{
        'is-invalid': emailFC?.invalid && (emailFC?.touched || emailFC?.dirty)
      }"
    />
    <div class="invalid-feedback">Please enter valid email</div>
  </div>
  <div formGroupName="address">
    <h2>Address</h2>
    <div>
      <label for="line1">Line 1*</label>
      <input
        [id]="'line1'"
        [name]="'line1'"
        autocomplete="address-line1"
        formControlName="line1"
        required
        type="text"
        [ngClass]="{
          'is-invalid': line1FC?.invalid && (line1FC?.touched || line1FC?.dirty)
        }"
      />
      <div class="invalid-feedback">Address line 1 is required</div>
    </div>
    <div>
      <label for="line2">Line 2</label>
      <input
        [id]="'line2'"
        [name]="'line2'"
        autocomplete="address-line2"
        formControlName="line2"
        type="text"
      />
    </div>
    <div>
      <label for="city">City*</label>
      <input
        [id]="'city'"
        [name]="'city'"
        autocomplete="address-level2"
        formControlName="city"
        required
        type="text"
        [ngClass]="{
          'is-invalid': cityFC?.invalid && (cityFC?.touched || cityFC?.dirty)
        }"
      />
      <div class="invalid-feedback">City is required</div>
    </div>
    <div>
      <label for="state">State*</label>
      <select
        [id]="'state'"
        [name]="'state'"
        autocomplete="address-level1"
        formControlName="state"
        required
        type="text"
        [ngClass]="{
          'is-invalid': stateFC?.invalid && (stateFC?.touched || stateFC?.dirty)
        }"
      >
        <option selected disabled value="">Choose...</option>
        <option>...</option>
      </select>
      <div class="invalid-feedback">State is required</div>
    </div>
    <div>
      <label for="zip">Zip*</label>
      <input
        [id]="'zipCode'"
        [name]="'zipCode'"
        autocomplete="postal-code"
        formControlName="zipCode"
        required
        type="text"
        [ngClass]="{
          'is-invalid':
            zipCodeFC?.invalid && (zipCodeFC?.touched || zipCodeFC?.dirty)
        }"
      />
      <div class="invalid-feedback">Zip code is required</div>
    </div>
    <div>
      <label for="country">Country*</label>
      <select
        [id]="'country'"
        [name]="'country'"
        autocomplete="country"
        formControlName="country"
        required
        type="text"
        [ngClass]="{
          'is-invalid':
            countryFC?.invalid && (countryFC?.touched || countryFC?.dirty)
        }"
      >
        <option selected disabled value="">Choose...</option>
        <option
          *ngFor="let country of COUNTRIES"
          [value]="country.code.toUpperCase()"
        >
          {{ country.name }}
        </option>
      </select>
      <div class="invalid-feedback">Country is required</div>
    </div>
  </div>
  <button type="submit" [disabled]="profileFormGroup.invalid">
    Submit form
  </button>
</form>
